.section1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-content: center;

}

ul {
    display:flex;
    gap : 16px;
    list-style-type: none;
}

.right-links {
    display: flex;
}

.left-link {
    font-size: 24px;
    color: #F9FAF8
}

.right-links, .awesome, .image {
    font-size: 18px; 
    color: #E5E7EB;
}

.image {
    background-color: grey;
    width:400px;
    height:300px;
}

.second {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text {

}

.website {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.awesome {
    
}

.second {
    display:flex;
    justify-content: space-evenly;
}


.title {
    display:flex;
    justify-content: center;
}

.images-text {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

.section2 {

}

.section3 {
    background-color: #E5E7Eb;
}


.thunder {
    display: flex;
    justify-content: center;
}

.signature {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.section5 {
    background-color: #1F2937;
    color:#E5E7EB;
}

.section5 {
    display:flex;
    justify-content: center;
}