.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

ul {
    display:flex;
    gap : 16px;
    list-style-type: none;
}

.right-links {
    display: flex;
}

.left-link {
    font-size: 24px;
    color: #F9FAF8
}

.right-links {
    font-size: 18px; 
    color: #E5E7EB;
}
