

.header {
    display: flex;;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

ul {
    display:flex;
    gap : 16px;
    list-style-type: none;
}

.right-links {
    display: flex;
}

.left-link {
    font-size: 24px;
    color: #F9FAF8
}

.right-links, .awesome, .image {
    font-size: 18px; 
    color: #E5E7EB;
}

.image {
    background-color: grey;
    width:400px;
    height:300px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.website {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 50px;
}

.awesome {
    padding: 50px;
}

.second {
    display:flex;
}